<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label>  Country </label>
          <input #text class="form-control" type="text" placeholder="search country here...">
          <button class="btn btn-success" (click)="searchContries(text.value)">Search </button>
          <!-- Search Suggestios -->
            <ul *ngFor="let list of searchList ">
              <li>   </li>
            </ul>
          <!-- Search Suggestios -->

          <!-- Search Results  -->
            <div class="table_wrap">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>S No.</th>
                    <th>Country Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>India</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Austrailia</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Pakistan</td>
                  </tr>
                </tbody>
              </table>
            </div>

             <!-- Search Results  -->
             
        </div>
    </div>
  </div>
</div>
